/*@import url("file:///home/henry/.cache/wal/colors.css");
*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 $     /$$   /$$                    /$$    /$$         
 $    | $$  | $$                   | $$   | $$         
 $    | $$  | $$/$$   /$$ /$$$$$$$/$$$$$$ | $$ /$$$$$$ 
 $    | $$$$$$$| $$  | $$/$$_____|_  $$_/ | $$/$$__  $$
 $    | $$__  $| $$  | $|  $$$$$$  | $$   | $| $$$$$$$$
 $    | $$  | $| $$  | $$\____  $$ | $$ /$| $| $$_____/
 $    | $$  | $|  $$$$$$//$$$$$$$/ |  $$$$| $|  $$$$$$$
 $    |__/  |__/\______/|_______/   \___/ |__/\_______/
 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*FIREFOX BROWSER CSS */
/*For Firefox 68 */
/* the only setting that should be required is chaning the density to compact */

/***********************************************
 *     _   _            _       _     _           
 *    | | | |          (_)     | |   | |          
 *    | | | | __ _ _ __ _  __ _| |__ | | ___  ___ 
 *    | | | |/ _` | '__| |/ _` | '_ \| |/ _ \/ __|
 *    \ \_/ / (_| | |  | | (_| | |_) | |  __/\__ \
 *     \___/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
 *                                                
 *                                                
********************************************** */

:root {
	--bg: #282828;
	--fg: #ebdbb2;
  --hl: #98971a;
}

/***********
 * nav bar *
 ***********/

/* remove forward/backward button */
#back-button, #forward-button {
  display: none;
}

/* remove home button */
#home-button {
  display: none;
}

/* remove really weird default "flexible space" things */
#customizableui-special-spring2, #customizableui-special-spring1 {
  display: none;
}

/* remove sidebar button */
#sidebar-button {
  display: none;
}

/* remove library button */
#library-button {
  display: none;
}

/* remove firefox account button */
#fxa-toolbar-menu-button {
  display: none;
}

/* remove 3 dots button from url bar */
#pageActionButton {
  display: none;
}

/* remove arrow "go" button from url bar */
.urlbar-go-button {
  display: none;
}

/* remove history menu dropdown button from url bar */
.urlbar-history-dropmarker {
  display: none;
}

/* 
 * fix small line at the bottom of the navigation bar and remove shadow that causes 
 * odd looking lines between the tabbar and the navbar 
 */
#nav-bar {
  margin-bottom: -1px;
  box-shadow: none !important;
}

/* make url bar have straight corners */
:root {
  --toolbarbutton-border-radius: 0px !important;
}

/* make the url bar borderless and take up *most* of the navbar */
#urlbar {
  border: none !important;
  box-shadow: none !important;
  margin: auto !important;
}

/* center text on url bar */
#urlbar {
  text-align: center;
}

/* color url bar and text */
#urlbar {
  background-color: var(--bg) !important;
  color: var(--fg) !important;
}

/* color the slight amount of the url bar's container I can't figure out how to remove */
#urlbar-container {
  background-color: var(--bg) !important;
}

/* color url bar results dropdown */
#urlbar-results {
  background-color: var(--bg) !important;
  color: var(--fg) !important;
}

/* remove border from results dropdown */
#urlbar-results {  
  border: none !important;
}

/* color url bar dropdown result items */
.urlbarView-title {  
  color: var(--fg) !important;
}
.urlbarView-secondary {
  color: var(--hl) !important;
}

/* color the url bar result items that are highlighted by the mouse*/
.urlbarView-row:hover {
  background-color: var(--hl) !important;
  color: var(--bg) !important;
}
/* color the result titles when highlighted */
.urlbarView-row:hover .urlbarView-title {
  color: var(--bg) !important;
}
/* color result links when highlighted */
.urlbarView-row:hover .urlbarView-secondary {
  color: var(--fg) !important;
}

/*
 * color the result in the url dropdown that is selected, 
 * this also colors the little separator and the magnifying glass
 */
.urlbarView-row[selected] {
  background-color: var(--fg) !important;
  color: var(--hl) !important;
}
/* color the result titles when selected */
.urlbarView-row[selected] .urlbarView-title {
  color: var(--bg) !important;
}
/* color result links when selected */
.urlbarView-row[selected] .urlbarView-secondary {
  color: var(--hl) !important;
}

/* remove the one off searches from the urlbar dropdown */
.search-one-offs {
  display: none;
}

/* color hamburger menu button */
#PanelUI-menu-button {
  background-color: var(--bg);
  fill: var(--fg) !important;
}




/* color reload button */
#reload-button {
  background-color: var(--bg);
  fill: var(--fg) !important;
}

/* color stop button */
#stop-button {
  background-color: var(--bg) !important;
  fill: var(--fg) !important;
}

/* color the identity box dropdown menu and it's submenus */
#identity-popup-mainView {
  background-color: var(--bg) !important;
}


/******************
 * hamburger menu *
 ******************/

#appMenu-tp-separator {
  -moz-appearance: none !important;
  color: green !important;
  background-color: green !important;
}

/* color little arrow, also colors arrow in sidebar dropdown menu */
.panel-arrow {
  fill: var(--bg) !important; 
}

/* color hamburger menu */
#appMenu-mainView {
  background-color: var(--bg) !important;
  color: var(--fg);
}

/* remove borders around the menu, also removes borders around the sidebar dropdown menu */
.panel-arrowcontent {
  border: none !important;
}

/* change highlight color on hamburger menu */
.subviewbutton:hover {
  background-color: var(--hl) !important;
  color: var(--bg) !important;
}

/* remove "sign in to sync" button and it's separator*/
.sync-ui-item {
  display: none;
}

/* remove zoom controls */
#appMenu-zoom-controls {
  display: none;
}

/* remove edit controls */
#appMenu-edit-controls {
display: none;
}

/* very hackey-feeling way to remove seperators left over from removing edit and zoom controls */
#appMenu-mainView > vbox:nth-child(1) > toolbarseparator:nth-child(10) {
  display: none;
}
#appMenu-mainView > vbox:nth-child(1) > toolbarseparator:nth-child(12) {
  display: none;
}

/* remove library button */
#appMenu-library-button {
  display: none;
}

/* remove password manager button */
#appMenu-logins-button {
  display: none;
}

/* remove find in page button */
#appMenu-find-button {
  display: none;
}

/* remove more button */
#appMenu-more-button {
  display: none;
}

/* remove web developer button */
#appMenu-developer-button {
  display: none;
}

/* remove help button */
#appMenu-help-button {
  display: none;
}

/* remove separator for more, web developer, help button section */
#appMenu-mainView > vbox:nth-child(1) > toolbarseparator:nth-child(24) {
  display: none;
}

/* remove quite button */
#appMenu-quit-button {
  display: none;
}
/* remove quite button separator */
#appMenu-mainView > vbox:nth-child(1) > toolbarseparator:nth-child(29) {
  display: none;
}

/****************
 * context menu *
 ****************/

/* color tooltips and make them a bit smaller */
tooltip {
  -moz-appearance: none !important;
  color: var(--fg) !important;
  background-color: var(--bg) !important;
  padding: 6px;
  border: 1px solid var(--fg) !important;
}

/* remove bookmark button in regular context menu */
#context-bookmarkpage {
  display: none;
}

/* remove save page to pocket button in regular context menu */
#context-pocket {
  display: none;
}

/* remove bookmark tab button from tab bar context menu*/
#toolbar-context-bookmarkSelectedTab {
  display: none;
}

/* remove bookmark tab button from tab context menu */
#context_bookmarkTab {
  display: none;
}

/* remove bookmark tabs button when selecting multiple tabs */
#context_bookmarkSelectedTabs {
  display: none;
}

/* remove bookmark tabs button when selecting multiple tabs from tab bar */
#toolbar-context-bookmarkSelectedTabs {
  display: none;
}

/* remove bookmark link button */
#context-bookmarklink {
  display: none;
}

/* remove save link to pocket button */
#context-savelinktopocket {
  display: none;
}

/* color context menus */
.popup-internal-box {
  background-color: var(--bg) !important;
  color: var(--fg) !important;
}

/* remove small border around context menus (kinda hackey) */
.popup-internal-box {
  margin: -1px !important;
}

/* color the highlight of menu items */
menuitem:hover, menu:hover, menu[open="true"], menuitem[_moz-menuactive="true"] {
  -moz-appearance: none !important;
  background-color: var(--hl) !important;
}
 
/********
 * tabs *
 ********/

/* remove small shadows at ends of tab bar that appears when lots of tabs are open */
.arrowscrollbox-overflow-end-indicator, .arrowscrollbox-overflow-start-indicator {
  display: none !important;
}

/* remove new tab button */
.tabs-newtab-button {
  display: none;
}

/* remove new tab button when tabs are overflowing the tab bar */
#new-tab-button {
  display: none;
}

/* make tabs take up the whole bar */
.tabbrowser-tab[fadein] {
  max-width: none !important;
}

/* remove weird blue tab line thing at top of tabs */
.tab-line {
  display: none;
}

/* remove all tab button when there are too many tabs to fit in the bar */
#alltabs-button {
  display: none;
}

/* remove tab scroll buttons when there are too many tabs to fit in the bar */
.scrollbutton-down {
  display: none;
}
.scrollbutton-up {
  display: none;
}

/* remove odd 1px margin on the right side of the tab bar */
#TabsToolbar {
  margin-right: -1px;
}

/* color the background of the tab bar, noticable when moving tabs around */
.tabbrowser-arrowscrollbox {
  background-color: var(--fg) !important;
}

/* only show tab close button when hovering over a tab */
.tab-close-button {
  display: none;
}
.tabbrowser-tab:hover .tab-close-button {
  display: -moz-box !important;
}

/* make tabs smaller */
:root {
  --tab-min-height: 25px !important;
}

/* remove tab separators */
.tabbrowser-tab::before, .tabbrowser-tab::after {
  display: none !important;
}

/* remove weird background for current tab */
.tab-background {
  display: none;
}

/* color current tab */
.tab-content[selected="true"] {
  background-color: var(--bg);
  color: var(--fg);
}

/* color other tabs */
.tab-content {
  background-color: var(--fg);
  color: var(--bg);
}

/* color tabs when hovering over them, but don't color the current tab any differently */
.tab-content:hover:not([selected]) {
  background-color: var(--hl);
  color: var(--fg);
}

/***********
 * sidebar *
 ***********/

/* color the sidebar header */
#sidebar-header {
  background-color: var(--bg) !important;
  color: var(--fg) !important;
}
/* color dropdown menu in sidebar */
.panel-arrowcontent {
  background-color: var(--bg) !important;
  color: var(--fg) !important;
}
/* remove border between sidebar header and sidebar content */
#sidebar-header {
  border: none !important;
}

/* color sidebar panels (history, bookmarks, etc) */
.sidebar-panel {
  background-color: var(--bg) !important;
  color: var(--fg) !important;
}

/* color bar to resize sidebar */
#sidebar-splitter {
  background-color: var(--bg) !important;
  border: none !important;
}

/* hide sidebar scrollbar */
.hidevscroll-scrollbar {
  display: none !important;
}

/* color search box in the sidebar */
textbox#search-box {
  -moz-appearance: none !important;
  color: var(--fg_) !important;
  background-color: var(--bg) !important;
}

/* remove little magnifying glass in search box */
.textbox-search-sign {
  display: none !important;
}

/***********
 * findbar *
 ***********/

/* remove border around findbar */
findbar {
  border: none !important;
}

/* color findbar */
.findbar-container {
  background-color: var(--bg);
  color: var(--fg);
}

/* color close button */
.findbar-closebutton {
  background-color: var(--bg);
  color: var(--fg) !important;
}

/* color search box */
.findbar-textbox {
  border: none !important;
  background-color: var(--bg) !important;
  color: var(--fg) !important;
}  

/* remove background of find next/previous buttons */
.findbar-find-next, .findbar-find-previous {
  background: none !important;
  border: none !important;
}

/****************
 * status panel *
 ****************/

/* 
 * color the statuspanel and remove border (thing on bottom of screen
 * that shows where a link leads, loading webpage status, etc) 
 */
#statuspanel-label {
  border: none !important;
  background-color: var(--bg) !important;
  color: var(--fg) !important;
}
